//= require_tree ./base
//= require_self

// Imports -------------------------------------------------------------------
@import 'base/variables';

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }
h1, h2, h3, h4, ul, p { margin: 0; padding: 0 }

html, body { width: 100%; height: 100% }

body {
  font-family: 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
//  -webkit-font-smoothing: antialiased;
}

a {
  color: $blueColor;
  text-decoration: none;
  transition: color .15s ease-out;
  outline: none;
}

// Typography -----------------------------------------------------------------
h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 0.75em;
}

h1 {
  color: $orangeColor;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: .25em;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 14px;
  letter-spacing: .125em;
}

p {
  color: rgba($textColor, .75);
  font-size: 16px;
  line-height: 1.3;
}

.subhead {
  margin-bottom: 1em;
  color: rgba($textColor, .85);
  font-size: 24px;
}

.small {
  color: rgba($textColor, .5);
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;

  a {
    color: inherit;
    border-bottom: 1px solid rgba($textColor, .25);
    transition: all .15s;
    
    &:hover, &:focus { border-color: transparent }
  }
}

.text-block {
  margin: 30px 0;
}

// Layout --------------------------------------------------------------------
.wrapper {
  width: 80%;
  max-width: 1140px;
  margin: auto;
}

section {
  margin: 10% 0;
}

section.hero {
  margin: 0;
  padding-top: 6.5%;
  height: 90%;
}

.step .wrapper > .col-50:first-child {
  padding-right: 10%;
}

// Time -----------------------------------------------------------------------
#time-to-post {
  color: $orangeColor;
  text-align: center;

  .hour {
    margin-right: 8px;
    font-size: 150px;
    font-weight: 800;
  }

  .am, .pm {
    display: block;
    font-size: 60px;
    font-weight: 900;
    &:not(.selected) { color: rgba($textColor, .2) }
  }

  .am { margin-top: .175em }
}

// Preview --------------------------------------------------------------------
#thumbnail-input { opacity: 0 }
.thumbnail {
  background-position: center;
  background-size: cover;
}

.thumbnail-uploader {
  width: 230px; height: 120px;
  border: 2px dashed rgba($textColor, .35);
  border-radius: 6px;
  text-align: center;
  transition: border-color .15s;
  
  span {
    color: rgba($textColor, .5);
    font-size: 44px;
    font-weight: 200;
  }
  
  &:hover, &:focus {
    border-color: rgba($textColor, .65);
    span { color: rgba($textColor, .85) }
  }
}

.thumbnail-feed {
  width: 80px;
  height: 80px;
}

.ph-feed {
  width: 100%;
  border: 1px solid rgba(black, .1);
  box-shadow: 0 0 30px rgba(black, .05);

}

.ph-feed-topbar {
  margin: 0 20px;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  .col { vertical-align: middle }
}

.ph-feed-block {
  position: relative;
  padding: 25px;

  & + .ph-feed-block { border-top: 1px solid #f2f2f2 }
  .ph-thumbnail { margin-right: 25px }
  .ph-meta {
    position: absolute;
    right: 25px; bottom: 26px; left: 130px;
  }
}

.ph-title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 24px;
}

.ph-subtitle { color: #999 }
.ph-secondary, .ph-button {
  font-size: 12px;
  letter-spacing: .6px;
  line-height: 16px;
  text-transform: uppercase;
}

.ph-category {
  padding: 0 .5em;
  color: #999;
  &.selected { color: #000 }
  &:first-of-type { border-right: 1px solid #f2f2f2 }
}

.ph-button {
  display: inline-block;
  height: 24px;
  padding: 0 8px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  color: #999;
  font-weight: 400;
  &:first-of-type { color: #000; }
  & + .ph-button { margin-left: 10px }
}

.ph-button-secondary {
  background-color: #f2f2f2;
}
