//= require_tree ./base
//= require_tree ./components
//= require_self

// Imports -------------------------------------------------------------------
@import 'base/variables';

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }
h1, h2, h3, h4, ul, p { margin: 0; padding: 0 }

html, body { width: 100%; height: 100% }

body {
  font-family: 'Proxima Nova', Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
//  -webkit-font-smoothing: antialiased;
}

a {
  color: $blueColor;
  text-decoration: none;
  transition: color .15s ease-out;
  &:link, &:hover, &:focus, &:active { outline: 0 }
}

// Typography -----------------------------------------------------------------
h1, h2, h3, h4 {
  color: #1B1C1D;
  letter-spacing: .1em;
  text-transform: uppercase;
}

h1 {
  margin-bottom: .25em;
  font-size: 72px;
  font-weight: 800;
}

h2 {
  margin-bottom: .75em;
  font-size: 24px;
}

h3 {
  margin-bottom: 1em;
  font-size: 14px;
  letter-spacing: .125em;
}

h4 {
  margin-bottom: .75em;
  color: rgba($textColor, .5);
  font-size: 12px;
  letter-spacing: .125em;
}

.subhead {
  margin-bottom: 1em;
  color: rgba($textColor, .85);
  font-size: 24px;
}

.subhead-small {
  color: rgba($textColor, .5);
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;

  a {
    color: inherit;
    border-bottom: 1px solid rgba($textColor, .25);
    transition: all .15s;

    &:hover, &:focus { border-color: transparent }
  }
}

p {
  color: rgba($textColor, .75);
  font-size: 18px;
  line-height: 1.3;
}

.logo {
  color: $orangeColor;
  background: -webkit-linear-gradient(left, #F56F4B, #FFAA40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-small {
  color: rgba($textColor, .5);
  font-size: 12px;
  line-height: 1.4;
}

.text-block {
  margin: 35px 0;
}

.tips {
  max-width: 400px;
  list-style: none;
  li { margin: .5em 0;}
}

// Layout --------------------------------------------------------------------
.wrapper {
  width: 85%;
  max-width: 1140px;
  margin: auto;
}

section {
  margin: 20% 0;
  overflow: hidden;
}

.hero {
  margin: 0;
  padding-top: 6.5%;
  height: 66%;
}

.step-1 {
  margin-top: 10%;
}

.col-content { padding-right: 10% }
.col-feature { margin-top: 42px }

.col-content h2 {
  position: relative;
  .emoji-bullet {
    display: inline-block;
    width: 30px;
    margin-left: -40px;
    margin-right: 10px;
    text-align: center;
  }
}


// Time -----------------------------------------------------------------------
#time-to-post {
  text-align: center;

  .hour {
    margin-right: 8px;
    font-size: 150px;
    font-size: 12vw;
    font-weight: 800;
    color: $orangeColor;
    background: -webkit-linear-gradient(left, #F56F4B, #FC9644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .am, .pm {
    display: block;
    color: rgba($textColor, .2);
    font-size: 60px;
    font-size: 4.8vw;
    font-weight: 900;

    &.selected {
      color: $orangeColor;
      background: -webkit-linear-gradient(left, #FC9644, #FFAA40);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .am { margin-top: .175em }
}

// Preview --------------------------------------------------------------------
#thumbnail-input { opacity: 0; height: 0; position: absolute; }
.thumbnail {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -2px; right: -2px; bottom: -2px; left: -2px;
  transition: opacity .15s $easing;
  &:hover { opacity: .75 }
}

.thumbnail-uploader {
  position: relative;
  width: 230px; height: 120px;
  border: 2px dashed rgba($textColor, .35);
  border-radius: 6px;
  text-align: center;
  transition: border-color .15s $easing;

  span {
    color: rgba($textColor, .5);
    font-size: 44px;
    font-weight: 200;
    transition: color .15s $easing;
  }

  &:hover, &:focus {
    border-color: rgba($textColor, .65);
    span { color: rgba($textColor, .85) }
  }
}

.thumbnail-main {
  .thumbnail { border-radius: 6px }

}

.thumbnail-feed {
  position: relative;
  width: 80px; height: 80px;
  border-radius: 0;

  img {
    height: 100%;
    object-fit: cover;
  }
}

// Content --------------------------------------------------------------------
.step-3 { margin-bottom: 10% }
.content-examples {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba($textColor, .2);
  border-top-color: rgba($textColor, .25);
  border-radius: 4px;
  resize: none;
  color: rgba($textColor, .75);
}

// Finale ---------------------------------------------------------------------
.finale {
  margin: 0;

  .wrapper { padding: 10% 0 5%; }
  blockquote {
    margin: 0;
    color: #67696C;
    font-size: 36px;
    font-weight: 300;
  }

  &:before, &:after {
    content: "";
    display: block;
    width: 90%;
    margin: auto;
    border-top: 1px solid rgba($textColor, .1);
  }
}

footer {
  padding: 2em 0;
}

// Media Queries --------------------------------------------------------------
@media (max-width: 800px) {
  .col-content, .col-feature { width: 100% }
  .col-content { padding-right: 0 }
  .col-content h2 .emoji-bullet {
    display: block;
    margin: 0 0 .5em;
  }

  .hero .logo { font-size: 12.5vw }

  #time-to-post {
    .hour { font-size: 30vw }
    .am, .pm { font-size: 12vw }
  }
}
